﻿
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="container">

    <form class="loginForm">
        <div class="loginForm">
            <input type="text" class="form-control input-lg" placeholder="Email">
        </div>
        <div class="loginForm">
            <input type="password" class="form-control input-lg" placeholder="Password">
        </div>
        <div class="loginForm">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
        </div>
    </form>

</div>
