﻿@model WebOdevi.Controllers.Anasayfa
@{
    ViewBag.Title = "Anasayfa";
}
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!-- En Son eklenen Slide getiriyoruz -->
                        @foreach (var item in Model.slider)
                        {
                            <div id="slider" class="item" data-id="@item.SliderID">
                                @if (item.SliderFoto == null)
                                {
                                    <img src="~/Content/images/no_image.png" alt="@item.SliderText" />
                                }
                                else
                                {
                                    <img style="height:292px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" alt="@item.SliderText">
                                }
                                <div class="carousel-caption">
                                    <h3>@item.SliderText</h3>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
            </div>
        </div>
    </div>

<br />
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Haftanın Oyunu</h3>
                </div>
                <div class="panel-body">
                    @*<a href="Home/Oyun/@Model._oyun.OyunID">*@
                        @try
                        {
                            foreach (var item in Model.oyun)
                            {
                                if (item.haftaninOyunu)
                                {
                                    if (item.oyunFoto == null)
                                    {
                                        <img style='width:100%; height:150px; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style="height:150px; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                                    }
                                    <p class="text-center">@Html.ActionLink(@item.Adi, "Oyun", new { id = item.OyunID })</p>
                                    break;
                                }

                            }
                        }
                        catch
                        {

                        }
                    @*</a>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Popüler Oyunlar</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.populerOyun)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @if (@item.oyunFoto== null)
                                    {
                                    <img style='width:64px; height:64px; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
                                    }
                                    else
                                    {
                                    <img style="height:64px; width:64px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                                    }
                                </div>
                                <div class="col-md-9">
                                    <h4>@item.Adi</h4>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Son Kullanıcı Yorumları</h3>
                </div>
                <div class="panel-body">
                    @try
                    {
                        foreach (var item in Model.yorum)
                        {
                            
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="/Home/Oyun/@item.oyun.OyunID">@item.oyun.Adi</a> - <strong>@item.k_Adi</strong>
                                    </div>
                                    <div class="panel-body">
                                        @item.yorum
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                        }
                    }
                    catch
                    {

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Oyunlar</h3>
            </div>
            <div class="panel-body">
                
                @foreach (var item in Model.oyun)
                {
                    <div class="row">
                        <div class="col-md-3">
                           @if (item.oyunFoto == null)
                           {
                            <img style='width:100%; height:150px; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
                           }
                           else
                           {
                            <img style="height:150px; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                           }
                           
                        </div>
                        <div class="col-md-6">
                            @Html.ActionLink(item.Adi, "Oyun", new { id = item.OyunID })
                            <p>Oyun Konusu</p>
                        </div>
                        <div class="col-md-3">
                            <h5>@item.Fiyat TL</h5>
                            <button class="btn btn-success">Sepete Ekle</button>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $("#slider.item:first").addClass("item active");
</script>