﻿@model WebOdevi.Controllers.Anasayfa
@{
    ViewBag.Title = "Oyunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oyunlar</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!-- En Son eklenen Slide getiriyoruz -->
                        @foreach (var item in Model.slider)
                        {
                            <div id="slider" class="item" data-id="@item.SliderID">
                                @if (item.SliderFoto == null)
                                {
                                    <img src="~/Content/images/no_image.png" alt="@item.SliderText" />
                                }
                                else
                                {
                                    <img style="height:292px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" alt="@item.SliderText">
                                }
                                <div class="carousel-caption">
                                    <h3>@item.SliderText</h3>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Oyunlar","Home", FormMethod.Post))
{

}*@

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.oyun)
        {
            <div class="col-md-2">
                <div class="panel panel-info embed-responsive-item">
                    <div class="panel-body">
                        <div class="row">
                            <div class="thumbnail">
                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                            </div>
                        </div>
                        <div class="row text-center">
                            @Html.ActionLink(item.Adi, "Oyun", new { id = item.OyunID })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
            $("#slider.item:first").addClass("item active");
</script>