﻿@model WebOdevi.Controllers.Anasayfa
@{
    ViewBag.Title = "Oyun";
}
<br />
<br />
<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                @if (Model._oyun.oyunFoto == null)
                                {
                                    <img style='width:100%; height:100%; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
                                }
                                else
                                {
                                    <img style="height:280px; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(Model._oyun.oyunFoto)" />
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @foreach (var item in Model.resim)
                            {
                                <div class="col-md-4">
                                    @if (item.oyunFoto == null)
                                    {
                                        <img style='width:100%; height:100%; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style="height:100%; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@Html.DisplayFor(model => model._oyun.Adi)</h2>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <p>@Model._oyun.aciklama</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-12" style="height:100%; width:100%;">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="col-md-12" style="height:100%; width:100%;">
                                                        <div class="row">
                                                            <h5>Fiyati : @Html.DisplayFor(model => model._oyun.Fiyat) TL</h5>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <div class="row text-center">
                                                            <button class="btn btn-info btn-lg">Satın Al</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                        @using (Html.BeginForm("Oyun", "Home", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.OyunID, new { @value = Model._oyun.OyunID })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.YorumGovde, new { htmlAttributes = new { @class = "form-control", @placeholder = "Yorum Yap", @style = "width:100%" } })
                                <br />
                            </div>
                        </div> 
                        }
                        <div class="row">
                            @try
                            {
                                foreach (var item in Model.yorum)
                                {
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>@item.k_Adi</strong>
                                            </div>
                                            <div class="panel-body">
                                                @item.yorum
                                            </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                    </div><!-- /col-sm-5 -->
                                }
                            }
                            catch
                            {

                            }
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.oyun)
                    {
                        if (item.OyunID == Model._oyun.OyunID)
                        {
                            continue;
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <img style="height:64px; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
                                </div>
                                <div class="col-md-9">
                                    @Html.ActionLink(item.Adi, "Oyun", new { id = item.OyunID })
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
    
