﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Anasayfa'ya Dön", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Oyun", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Oyuna Resim Ekle","Resim","Admin")</li>
                    <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                    <li>@Html.ActionLink("Uye ve Rol Yönetimi", "Rol", "Admin")</li>
                    <li><a href="@Url.Action("Yorum","Admin")" class="btn btn-default navbar-btn">
                            <span class="badge">@ViewBag.yorumSayi</span>Yorumlar
                        </a>
                    </li>
                    <li>@Html.ActionLink("Yorumlar", "Yorum", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dil <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TR</a></li>
                            <li><a href="#">EN</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">1</span></a></li>
                    @*@Html.Partial("~/Views/Shared/_LoginPartial.cshtml")*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <hr>
                    <div class="col-lg-12">
                        <div class="col-md-8">
                            <p class="text-danger"> Admin Paneli </p>
                        </div>
                        <div class="col-md-4">
                            <p class="muted pull-right">© @DateTime.Now.Year - @Html.ActionLink("Ertan Çakır", "Contact", "Home")</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
