﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mithrill.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mithrill.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Oyunlar", "Oyunlar", "Home")</li>
                </ul>
                <span class="col-md-2"></span>
                @try
                {
                    if (ViewBag.isIndex)
                    {
                        <form class="navbar-form navbar-left">
                            @using (Html.BeginForm())
                            {

                            <div class="form-group">
                                @Html.Editor("aranan", new { htmlAttributes = new { @class = "form-control", @placeholder = "Ara", @style = "width:100%" } })
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>

                            }
                        </form>
                    }
                }
                catch
                {

                }
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            TR <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">EN</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">1</span></a></li>
                    @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @try                                       // Hata olduğu zaman Index Viewine yönlendirir
        {
            @RenderBody()
        }
        catch
        {
            Url.RouteUrl("Index", "Home");
        }
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <hr>
                    <div class="col-lg-12">
                        <div class="col-md-8">
                            @Html.ActionLink("Hakkımızda", "About", "Home") | @Html.ActionLink("İletişim", "Contact", "Home")
                        </div>
                        <div class="col-md-4">
                            <p class="muted pull-right">© @DateTime.Now.Year - @Html.ActionLink("Ertan Çakır", "Contact", "Home")</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
