﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    
    if (ViewBag.IsAdmin)
    {
        @Html.ActionLink("Admin Paneli", "Index", "Admin", routeValues: null, htmlAttributes: new { @class = "btn btn-danger navbar-btn" })
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Çıkış Yap</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @Html.ActionLink("Kayıt Ol", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-info navbar-btn" })
        @Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-danger navbar-btn" })
    </ul>
}
