﻿@model IEnumerable<WebOdevi.Models.Data.Oyun>

@{
    ViewBag.Title = "Admin Paneli";
}
<br />
<br />
<table class="table table-bordered">
    <caption>@Html.ActionLink("Oyun Ekle", "OyunEkle", "Admin", htmlAttributes: new { @class = "btn btn-primary" })</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oyunFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            <img style="height:64px; width:120px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "OyunDuzenle", new { id=item.OyunID }, htmlAttributes: new { @class="btn btn-warning" })
            @Html.ActionLink("Detaylar", "OyunDetay", new { id = item.OyunID } , htmlAttributes: new { @class = "btn btn-info" })
            @Html.ActionLink("Sil", "OyunSil", new { id = item.OyunID }, htmlAttributes: new { @class = "btn btn-danger" })
            @Html.ActionLink("Haftanın Oyunu Yap", "HaftaninOyunu" , new { id =item.OyunID}, htmlAttributes: new { @class = "btn btn-primary" })  
        </td>
    </tr>
}

</table>
