﻿@model WebOdevi.Models.Data.Oyun

@{
    ViewBag.Title = "OyunSil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>OyunSil</h2>

<h3>Silmek istediğinize eminmisiniz ?</h3>
<div>
    <h4>Oyun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.oyunFoto)
        </dt>

        <dd>
            @if (Model.oyunFoto == null)
            {
                <img style='width:64px; height:64px; border:solid 1px #cccccc;' src="~/Content/images/no_image.png" alt="" />
            }
            else
            {
                <img style="height:64px; width:64px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.oyunFoto)" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
