﻿@model WebOdevi.Models.Data.Oyun

@{
    ViewBag.Title = "Create";
}

<br />
<br />


@using (Html.BeginForm("OyunEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Oyun</h4>
        <hr />
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        Oyun Adi
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
            </div>
        </div>
        Resim
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
        Fiyat
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>
        Oyun Türü
        <div class="form-group">
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model=>model.Tur,htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tur, "", new { @class = "text-danger" })
            </div>
        </div>
        Açıklama
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control input-lg" } })
                @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
