﻿@model IEnumerable<WebOdevi.Models.Data.Resim>

@{
    ViewBag.Title = "Resim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<table class="table table-bordered">
    <caption>@Html.ActionLink("Resim Ekle", "ResimEkle","Admin", htmlAttributes: new { @class = "btn btn-primary" })</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oyun.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oyunFoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oyun.Adi)
        </td>
        <td class="text-center">
            <img style="height:64px; width:120px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.oyunFoto)" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResimID }, htmlAttributes: new { @class="btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id=item.ResimID } , htmlAttributes: new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ResimID }, htmlAttributes: new { @class = "btn btn-danger" })  
        </td>
    </tr>
}

</table>
