﻿@model WebOdevi.Models.Data.Resim

@{
    ViewBag.Title = "ResimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ResimEkle</h2>

@using (Html.BeginForm("ResimEkle", "Admin", FormMethod.Post , new { @class = "form-horizontal", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Resim</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Oyun Adı
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.oyun.OyunID,(SelectList)ViewBag.CategoryId, "Oyun Seçiniz", new {@class = "dropdown" })
            </div>
        </div>

        <div class="form-group">
            Fotoğraf
            <div class="col-md-10">
                <input type="file" name="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ResimEkle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
