﻿@model WebOdevi.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolKullaniciEkle</h2>

@using (Html.BeginForm("RolKullaniciEkle", "Admin", FormMethod.Post))
{
    <h4>Role Kullanıcı Ekle</h4>
    <div class="form-horizontal">
        Kullanıcı Adı
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        Rol Adı
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.RolAdi, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

