﻿@model List<WebOdevi.Models.Data.Slider>
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<table class="table table-bordered">
    <caption>@Html.ActionLink("Görsel Ekle", "SlideEkle","Admin",htmlAttributes: new { @class = "btn btn-primary"})</caption>
    <tr>
        <th>Fotoğraf</th>
        <th>Başlık</th> 
        <th>Başlangıç Tarih</th>
        <th>Bitiş Tarih</th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @if (item.SliderFoto == null)
                {
                    <img style="height:64px; width:120px;" src="~/Content/images/no_image.png" />
                }
                else
                {
                    <img style="height:64px; width:120px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" />
                }
            </td>
            <td>
                @item.SliderText
            </td>
            <td>
                @String.Format("{0:d}",@item.BaslangicTarih)
            </td>
            <td>
                @String.Format("{0:d}", @item.BitisTarih)
            </td>
            <td>
                @Html.ActionLink("Düzenle","SlideDuzenle",new { id = item.SliderID }, htmlAttributes: new { @class = "btn btn-warring" })
                @Html.ActionLink("Sil", "SlideSil", new { id = item.SliderID }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
