﻿@model IEnumerable<WebOdevi.Models.Data.Yorum>

@{
    ViewBag.Title = "Yorum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum</h2>

<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.k_Adi)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.yorum)
        </th>
        <td>
            Oyun Adı
        </td>
        @*<th>
            @Html.DisplayNameFor(model =>model.yorumTarih)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.yorumTarih.Date.ToString())
        </td>*@
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.k_Adi)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.yorum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oyun.Adi)
        </td>
        <td>
            @Html.ActionLink("Onayla", "YorumOnayla", new { id=item.YorumID } , htmlAttributes: new { @class = "btn btn-primary" }) 
        </td>
    </tr>
}

</table>
