﻿@using WebOdevi.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yap";
}

<br />


<div class="row">
    <div class="col-md-12">
        <section id="loginForm" class="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Hoşgeldiniz</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group loginForm">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-lg", @placeholder = "Email Adresi" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group loginForm">
                    @Html.PasswordFor(m => m.Password, new { @class = "input-lg", @placeholder = "Şifre" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="registerForm">
                        <input type="submit" value="Kayıt Ol" class="btn btn-primary btn-lg" style="width:100%;" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Ya da Üye Ol", "Register")
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}