﻿@model WebOdevi.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

<h2 class="text-center">Kayıt Ol</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Yeni bir üyelik oluştur</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group registerForm">
        @Html.TextBoxFor(m => m.UserName, new { @class = "input-lg", @placeholder = "Adınız Soyadınız" })
    </div>
    <div class="form-group registerForm">
        @Html.TextBoxFor(m => m.Email, new { @class = "input-lg" , @placeholder = "Email Adresi"})
    </div>
    <div class="form-group registerForm">
        @Html.PasswordFor(m => m.Password, new { @class = "input-lg" , @placeholder = "Şifre"})
    </div>
    <div class="form-group registerForm">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-lg" , @placeholder = "Şifreyi Onayla" })
    </div>
    <div class="form-group">
        <div class="registerForm">
            <input type="submit" value="Kayıt Ol" class="btn btn-primary btn-lg" style="width:100%;" />
        </div>
    </div>
    <p class="text-center">
        Üyeliğiniz varsa @Html.ActionLink("Giriş Yap", "Login")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
